* {
  margin: 0;
  padding: 0;
}

/* cuerpos */
body {
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: oklch(78.5% 0.115 274.713);
  width: 100%;
  height: 150px;
}

footer {
  background-color: oklch(78.5% 0.115 274.713);
  padding: 1.25rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: 1rem;
}

/* NAV */
nav ul {
  display: flex;
  list-style: none;
  justify-content: right;
  gap: 1rem;
  margin-right: 1rem;
}

nav a {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: oklch(58.5% 0.233 277.117);
  color: white;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
}

nav a:hover {
  background-color: oklch(50% 0.134 242.749);
}

/* forms */
legend {
  padding: 10px;
  border: 10px solid #fee4e3;
  border-radius: 50px;
  color: #db0227;
  font-weight: bold;
}

fieldset {
  margin: 20px;
  padding: 20px;
  border: 10px solid #fee4e3;
  border-radius: 50px;
  color: #db0227;
}

input {
  color: #ff0000;
  font-weight: 800;
  border: 2px solid #db0227;
  border-radius: 5px;
  padding: 3px; /* Espaciado interno */
  margin-top: 5px; /* Espaciado */
  width: fit-content;
  box-sizing: border-box;
}

/* textos */
h1 {
  color: #f4d979;
  text-align: center;
  margin-top: 20px;
}

/*
h2 {
  color: #db0227;
  text-align: center;
  margin-top: 15px;
  font-weight: bolder;
  margin-bottom: 10px;
}

h3 {
  color: #db0227;
  text-align: center;
  margin-top: 15px;
  font-weight: bolder;
  margin-bottom: 10px;
}
*/

p {
  margin-top: 10px;
  color: #db0227;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

/* links */
a {
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: oklch(93% 0.034 272.788);
  text-decoration: underline;
}


.recuadro{
    color: rgb(62, 82, 25);
    height: 70%;
    padding: 10px;
    border-radius: 10px;
}
/* img */
img {
  vertical-align: middle;
  margin-right: 8px;
}

/* tarjetas */
.Tarjetas {
  display: flex;
}
.TarjetaFutbol img {
  height: 100%;
  width: 100%;
}
.TarjetaFutbol h3 {
  text-align: center;
  color: white;
  margin: 50px;
  border-radius: 10px;
}
